body{
    padding: 0;
    margin: 0;
}
.container
{
   padding-right: 20px;
   padding-bottom: 20px;
   margin-top: 0;
}
.d1
{
    margin-top: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(
        to right,
        RED 1% ,
        rgb(41, 165, 41) 25% ,
        yellow 100%
    );
    font-weight: bolder;
    text-decoration: underline;
    box-sizing: border-box;
    text-align: center;
    text-shadow: -3px -3px 8px rgb(80, 107, 80);
}
.d2
{
    width: 980px;
    height: 77px;
    background-color: rgb(145, 218, 230);
    border: 5px solid brown;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-left: 260px;
    padding-left: 100px;

} 
 ul{
   padding-left: 300px;
   padding-right: 300px;
   margin: 0%;

} 


.d3
{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    border: 1px solid rgb(4, 130, 4);
    border-radius: 10px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    font-size: small;
}
.dd3
{
  height: 68px;
  width: 450px;
  background-color: aqua;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;

}
.two
{
    display: flex;
    flex-direction: column;
}
.div1
{
   margin-left: 30px;
   margin-right: 30px;
}
.d4
{
    width: 100%;
    height: 45px;
    background-image: linear-gradient(
        to right,
        RED ,
        orange,
        yellow ,
        orange,
        RED
    );
    text-decoration: underline;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}
hr{
    margin: 0;
}
.d5
{
    width: 100%;
    height: 300px;
    background-image: radial-gradient(
        rgb(45, 16, 207) 18%,
        rgb(17, 145, 196) ,
        green
    );
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 20px;
}
.flag
{
    width: 250px;
    height: 120px;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    line-height: 35px;
    font-weight: bold;
    color: brown;
    border: 2px solid;
    box-shadow: -2px -2px 2px brown;
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
    
}
/* .d6
{
    width: 100%;
    height: 45px;
    background-color: palevioletred;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 30px;
    text-shadow: -1px 2px 2px rgb(225, 222, 222);
} */
.d6
{
    border: 1px solid black;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,70px);
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0;
  
}
.d
{
    font-weight: bolder;
    color: white;
}
.d7
{
    height: 50px;
    background-color:rgb(244, 37, 106);
    color: white;
    text-align: center;
    text-shadow: -1px 2px 2px rgb(225, 222, 222);
    grid-row: 1/2;
    grid-column: 1/5;
    border: 1px solid black;
    
    
}
.d8
{
    height: 65px;
    width: 440px;
    margin-right: 10px;
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(69, 251, 69);
    font-size: large;
    text-align: center;
}
.d9
{
    height: 65px;
    width: 440px;
    margin-left: 10px;
    margin-right: 10px;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgb(42, 179, 233);
    font-size: larger;
    text-align: left;
}
.d10
{
    height: 65px;
    width: 440px;
    margin-left: 10px;
    margin-right: 15px;
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: rgb(134, 81, 241);
    text-align: left;
    font-size: small;
}
.d11
{
    width: 90px;
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: black;
}
.d12
{  
    width: 99%;
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: rgb(233, 193, 145);
    text-align: left;
    margin-top: 10px;
    margin-right: 15px;
    font-size: large;
}
.d13
{
    height: 22px;
    background-color:aqua;
    color: black;
    text-align: center;
    grid-row: 4/5;
    grid-column: 1/5;
    border: 1px solid black;
    margin-top: 15px;
    font-size: larger;
}


